<?xml version="1.0"?>
<config>
    <modules>
        <Hc_Filters>
            <version>1.0.1</version>
        </Hc_Filters>
    </modules>
    <global>
        <models>
            <filters>
                <class>Hc_Filters_Model</class>
            </filters>
        </models>
        <helpers>
            <filters>
                <class>Hc_Filters_Helper</class>
            </filters>
        </helpers>
    </global>
    <frontend>
        <routers>
            <hc_filters>
                <use>standard</use>
                <args>
                    <frontName>filters</frontName>
                    <module>Hc_Filters</module>
                </args>
            </hc_filters>
        </routers>
        <translate>
        <modules>
            <Hc_Filters>
                <files>
                    <default>Hc_Filters.csv</default>
                </files>
            </Hc_Filters>
        </modules>
    </translate>
    </frontend>
    <adminhtml>
        <translate>
        <modules>
            <Hc_Filters>
                <files>
                    <default>Hc_Filters.csv</default>
                </files>
            </Hc_Filters>
        </modules>
    </translate>
    </adminhtml>
</config>
